/* Reset */
body {
	margin: 0;
	padding: 0;
}
.stylebar-wrapper {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
.stylebar-wrapper * {
	box-sizing: border-box;
}
.stylebar-wrapper a {
	color: #FFF!important;
}