@import "mixins.less";
@import "variables.less";
@import "reset.less";
@import "typography.less";
@import "viewport-resizer.less";
@import "tooltips.less";
@import "iframe.less";

/* Layout */
body {
	overflow: hidden;
}
#stylebar {
	overflow: visible;
}
.stylebar-resp {
	background: @neutral!important;
	overflow: hidden;
	&.stylebar-body {
		overflow: visible;
	}
	.stylebar-viewport-container {
		a {
			display: inline-block;
		}		
	}
}
.stylebar-wrapper {
	min-height: 60px;
	background-color: @bgcolor;
	border-bottom: 1px solid #444;
	margin: 0;
	padding: 0;
	z-index: 100000000;

	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
.stylebar-container {
	.container-fixed();
	min-height: 60px;
}
.stylebar-row {
	.make-row();
}
.stylebar-logo-container {
	.make-xs-column(3);
	.make-sm-column(6);
	.make-lg-column(3);
}
.stylebar-controls-container {
	.make-xs-column(9);
	.make-sm-column(6);
	.make-lg-column(7);
}
.stylebar-contact-container {
	.visible-lg;
	.make-lg-column(2);
	text-align: right;
}
.stylebar-controls {
	.make-row();
}
.stylebar-selector-container {
	.make-xs-column(12);
	.make-lg-column(6);
	text-align: center;
	label {
		margin-right: 5px;
		.hidden-xs;
	}
}
.stylebar-viewport-container {
	.visible-lg;
	.make-lg-column(6);
	text-align: center;
	a {
		outline: none!important;
		margin: 5px;
		padding: 0px 10px;
		line-height: 60px;
		font-size: 36px;
		border-radius: 4px;
		transition: all 0.3s;
		&:hover {
			background: @recessed;
		}
		&.stylebar-active-device {
			background: @recessed;
			box-shadow: 0px 0px 5px @inset inset;
		}
	}
}
.stylebar-logo-link {
    height: 50px;
    line-height: 50px;
    margin: 5px 0 0;
    display: inline-block;
    font-size: 32px;
    color: #FFF;
    &:hover {
    	color: #FFF;
    	text-decoration: underline;
    }
}
.stylebar-selector {
	width: 100%;
	height: 30px;
	margin: 15px auto;
	border-radius: 4px;
	background: transparent;
	color: @text;
	border: 1px solid @text;
	option {
		color: #666;
		background: @text;
	}
	@media(min-width: @sm) {
		width: 220px;
	}
}
.stylebar-phone-link {
	line-height: 60px;
	font-weight: 700;
	font-size: 16px;
	margin-right: 10px;
}
a.stylebar-getstarted-btn {
	.btn();
	height: 34px;
	margin: 12px 0;
	background: transparent;;
	border-color: @primary;
	color: @primary;
	font-weight: 700;
	transition: all 0.125s;
	&:hover {
		background: @focus;
		border-color: @focus;
		color: #FFF;
	}
}
a.tester-cta {
	display: block;
	padding: 6px 12px;
	position: fixed;
	bottom: 0px;
	right: 30px;
	border-radius: 4px 4px 0px 0px;
	background-color: @primary;
	color: @text;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-decoration: none;
	transition: background-color 0.125s;
	&:hover {
		background-color: @focus;
	}
	&:focus {
		outline: none;
	}
}
#requestDemo {
	color: #666;
}
#btn-getstarted {
  display: inline-block;
  float: right;
  width: auto;
  padding: 10px 20px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFF;
  text-decoration: none;
  background-color: #DF9310;
  border-color: #DF9310;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
#btn-getstarted:hover {
  border-color: #F09F13;
  background-color: #F09F13;
}