@import "mixins.less";
@import "variables.less";
@import "reset.less";
@import "typography.less";

/* Layout */
.stylebar-wrapper {
	min-height: 60px;
	background-color: @bgcolor;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 100000000;

	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
.stylebar-container {
	.container-fixed();
	min-height: 60px;
}
.stylebar-row {
	.make-row();
}
.stylebar-logo-container {
	.make-xs-column(6);
}
.stylebar-logo-link {
    height: 50px;
    line-height: 50px;
    margin: 5px 0 0;
    display: inline-block;
    font-size: 42px;
    color: #FFF;
    &:hover {
    	color: #FFF;
    	text-decoration: underline;
    }
}
.stylebar-contact-container {
	.make-xs-column(6);
	text-align: right;
}
.stylebar-phone-link {
	line-height: 60px;
	.visible-sm-inline-block;
	.visible-md-inline-block;
	.visible-lg-inline-block;
}
.stylebar-phone-icon {
	.fa-icon();
	font-size: 20px;
	margin-right: 5px;
	position: relative;
	top: 2px;
	&:before {
		content: "\f10b";
	}
}
.stylebar-getstarted-btn {
	.btn();
	font-size: 16px;
	background: @primary; 
	border-color: @primary;
	margin-top: 12px;
	margin-left: 10px;
	transition: all 0.125s;
	&:hover {
		background: @focus;
		border-color: @focus;
	}
    .breakpoint(@sm, {
		margin-top: -4px;
    });
}
.stylebar-angle-right {
	.fa-icon();
	font-size: 20px;
	margin-left: 10px;
	&:before {
		content: "\f105";
	}
}