@import "mixins.less";
@import "variables.less";
@import "reset.less";
@import "typography.less";
@import "viewport-resizer.less";
@import "tooltips.less";

/* Layout */
body.stylebar {
	background: #666;
}
.stylebar-wrapper {
	display: none;
	min-height: 60px;
	background-color: @bgcolor;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 100000000;

	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
.stylebar-container {
	.container-fixed();
	min-height: 60px;
}
.stylebar-row {
	.make-row();
}
.stylebar-logo-container {
	.make-xs-column(6);
	.make-lg-column(4);
}
.stylebar-logo-link {
    height: 50px;
    line-height: 50px;
    margin: 5px 0 0;
    display: inline-block;
    font-size: 42px;
    color: #FFF;
    &:hover {
    	color: #FFF;
    	text-decoration: underline;
    }
}
.stylebar-viewport-container {
	.visible-lg;
	.make-lg-column(4);
	text-align: center;
	a {
		display: inline-block;
		margin: 5px;
		padding: 0px 10px;
		line-height: 50px;
		font-size: 36px;
		border-radius: 4px;
		transition: all 0.3s;
		&:hover {
			background: @recessed;
		}
		&.stylebar-active-device {
			background: @recessed;
			box-shadow: 0px 0px 5px @inset inset;
		}
	}
}
.stylebar-contact-container {
	.make-xs-column(6);
	.make-lg-column(4);
	text-align: right;
}
.stylebar-phone-link {
	line-height: 60px;
	.visible-sm-inline-block;
	.visible-md-inline-block;
	.visible-lg-inline-block;
}
.stylebar-phone-icon {
	.fa-icon();
	font-size: 20px;
	margin-right: 5px;
	position: relative;
	top: 2px;
	&:before {
		content: "\f10b";
	}
}
.stylebar-getstarted-btn {
	.btn();
	font-size: 16px;
	background: @primary; 
	border-color: @primary;
	margin-top: 12px;
	margin-left: 10px;
	transition: all 0.125s;
	&:hover {
		background: @focus;
		border-color: @focus;
	}
    .breakpoint(@sm, {
		margin-top: -4px;
    });
}
.stylebar-angle-right {
	.fa-icon();
	font-size: 20px;
	margin-left: 10px;
	&:before {
		content: "\f105";
	}
}
#stylebar-site-container {
	width: 100%;
	height: 100%;
	background: #666;
	text-align: center;
	&.stylebar-mobile-landscape > #stylebar-site {
		width: 627px;
		height: 375px!important;
		margin: 30px auto;
	}
	&.stylebar-mobile > #stylebar-site {
		width: 375px;
		height: 627px!important;
		margin: 30px auto;
	}
	&.stylebar-tablet-landscape > #stylebar-site {
		width: 1024px;
		height: 768px!important;;
		margin: 30px auto;
	}
	&.stylebar-tablet > #stylebar-site {
		width: 768px;
		height: 1024px!important;;
		margin: 30px auto;
	}
	&.stylebar-desktop > #stylebar-site {
		width: 100%;
	}
}
#stylebar-site {
	background: @neutral;
	position: relative;
	width: 100%; 
	margin: 0 auto;
	overflow: hidden; 
	box-sizing: border-box; 
	border: 0px; 
	outline: 0px;
	box-shadow: 0px 0px 15px @shadow;
	transition: all 0.6s;
}
#stylebar-site::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 10px
}
#stylebar-site::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
#stylebar-site::-webkit-scrollbar-thumb {
  background: #999;
  border: 0px none #ffffff;
  border-radius: 8px;
}
#stylebar-site::-webkit-scrollbar-thumb:hover {
  background: #AAA;
}
#stylebar-site::-webkit-scrollbar-thumb:active {
  background: #888;
}
#stylebar-site::-webkit-scrollbar-track {
  background: #F0F0F0;
  border: 0px none #ffffff;
  border-radius: 8px;
}
#stylebar-site::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #E0E0E0;
}
#stylebar-site::-webkit-scrollbar-corner {
  background: transparent;
}